<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjektZaliczeniowy_JIPP4.Properties.Settings.ProjektJIPP4_DanielMarkiewiczConnectionString"
            connectionString="Data Source=tester1.wwsi.edu.pl,50223;Initial Catalog=ProjektJIPP4_DanielMarkiewicz;Persist Security Info=True;User ID=wptasznik;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>